table {
  display: flex;
}

td {
  vertical-align: middle;
}

/*FIRST DATA, CONTAINS ICON*/
/*May also contain NAME if you put it with icon in HTML*/
td:nth-child(1) {
  max-width: 128px;
  min-width: 100px;
  margin: auto;
  height: auto;
}

/*SECOND DATA, CONTAINS NAME AND SPEECH BUBBLE*/
td:nth-child(2) {
  max-width: 950px;
  height: auto;
}

/*CHARACTER'S NAME*/
.name {
  font-size:large;
  margin: 1px;
}

/*TEXT BOX*/
.akbox {
  position: relative;
  display: inline-block;
  border: #fff; /*border color*/
  background: #000; /*background color*/
  font-family: Roboto, Arial, sans-serif; /*font*/
  color:#fff; /*font color*/
  border-radius: 0px;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*CENTER*/
.center {
  text-align: center;
}

/*DESCRIPTION*/
.akdesc {
  text-align: center;
  position: relative;
  display: inline-block;
  background: #c7c7c7; /*background color*/
  font-family: Courier, monospace; /*font*/
  color:#000; /*font color*/
  border-radius: 0px;
  padding: 5px;
  margin: auto;
  max-width: 100%;
  height: auto;
}
