table {
  display: flex;
}

td {
  vertical-align: middle;
}

td:nth-child(1) {
  max-width: 128px;
  min-width: 100px;
  margin: auto;
  height: auto;
}

td:nth-child(2) {
  max-width: 950px;
  height: auto;
}

.name {
  font-size: large;
  margin: 1px;
}

.akbox {
  position: relative;
  display: inline-block;
  border: #ababab;
  border-style: solid;
  border-width: 1px;
  background: #2b2b2b;
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 0px;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.akdesc {
  text-align: center;
  position: relative;
  display: inline-block;
  background: #d6d6d6;
  font-family: Courier, monospace;
  color: #000;
  border-radius: 0px;
  padding: 5px;
  padding-right:20px;
  padding-left:20px;
  margin: auto;
  max-width: 100%;
  height: auto;
}
