table {
  display: flex;
}

td {
  vertical-align: middle;
}

.center {
  text-align: center;
}

/*FIRST DATA, CONTAINS ICON*/
/*May also contain NAME if you put it with icon in HTML*/
td:nth-child(1) {
  max-width: 128px;
  min-width: 100px;
  margin: auto;
  height: auto;
}

/*SECOND DATA, CONTAINS NAME AND SPEECH BUBBLE*/
td:nth-child(2) {
  max-width: 950px;
  height: auto;
}

/*NORMAL DESCRIPTION*/
.desc {
  text-align: center;
  font-style: italic;
  padding: 10px;
}

/*AK STYLE TEXT BOX*/
.akbox {
  position: relative;
  display: inline-block;
  border: #ababab;
  border-style: solid;
  border-width: 1px;
  background: #2b2b2b;
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 0px;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*DARKER TEXT BOX*/
.akbox2 {
  position: relative;
  display: inline-block;
  border: #ababab;
  border-style: solid;
  border-width: 1px;
  background: rgb(19,15,14);
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 0px;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*BACKGROUND COLOR FOR ICONS*/
.akimg {
  background: #2b2b2b;
  background: linear-gradient(0deg, rgb(70,70,70) 0%, rgb(29,29,29) 39%, rgb(13,13,13) 76%);
  }

/*AK STYLE DESCRIPTION*/
.akdesc {
  text-align: center;
  position: relative;
  display: inline-block;
  background: #d6d6d6;
  font-family: Courier, monospace;
  color: #000;
  border-radius: 0px;
  padding: 5px;
  padding-right:20px;
  padding-left:20px;
  margin: auto;
  max-width: 100%;
  height: auto;
}
